/* Mobile & Tablet */
@media (max-width: 1023px) {
  :root {
    --navbar-height: 0rem;
  }

  .hide-on-mobile-tablet {
    display: none !important;
  }

  .header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: fixed;
    background-color: var(--white-color);
  }

  .header__cart-list {
    position: fixed;
    top: var(--header-height);
    right: 0;
    width: 100%;
  }

  .header__cart-list .header__pop-up-arrow {
    display: none;
  }

  .header__sort-bar {
    display: flex;
  }

  .mobile-category {
    display: block;
  }

  .app__container,
  .logIn-container,
  .signUp-container,
  .seller-logIn-container {
    margin-top: var(--header-height);
  }

  .footer__terms-and-policy span:nth-child(even) a {
    border-right: none;
  }

  /* Entry Form */
  .header__mobile-navbar {
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
  }

  .header__navbar-title-p {
    font-size: 2.1rem;
  }

  .header__navbar-title-link {
    font-size: 1.8rem;
  }

  .form-area__content-text {
    font-size: 1.5rem;
  }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  :root {
    --header-height: 6.8rem;
  }

  .hide-on-tablet {
    display: none !important;
  }

  .header__search-box {
    width: 36rem;
  }

  .header__cart {
    text-align: right;
  }

  .mobile-category__list {
    display: flex;
  }

  .header__cart-list {
    padding: 0 calc((100% - 644px) / 2);
  }
}

/* Mobile */
@media (max-width: 739px) {
  :root {
    --header-height: 5.4rem;
  }

  .hide-on-mobile {
    display: none !important;
  }
  .header__search-box {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    z-index: 1;
    width: unset;
    display: none;
    padding: 0.2rem 1.2rem 0.2rem 0.2rem;
    height: var(--header-sort-bar-height);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
    animation: slideDown linear 0.3s;
  }

  #mobile-search-checkbox:checked ~ .header__search-box {
    display: flex;
  }

  .header__search-box-history {
    top: 100%;
    width: 100vw;
    padding: 0 1rem;
  }

  .header-with-search {
    align-items: center;
    justify-content: space-between;
  }

  .header__mobile-search {
    display: block;
  }

  .header__mobile-search-icon {
    font-size: 2.4rem;
  }

  .header__logo {
    padding-right: 0;
  }

  .shopee-svg-white-icon {
    width: 13rem;
  }

  .header__cart-icon {
    font-size: 2.4rem;
  }

  .header__cart-number-badge {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .app__container {
    padding-top: 1.2rem;
    padding-bottom: 4rem;
    margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
  }

  .app__content {
    margin-top: 0;
  }

  .row.app__content {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }

  .product-list-load {
    margin-top: 3.2rem;
  }

  .product-list-load .disable {
    display: none;
  }

  .no-more-item {
    display: block;
    font-size: 1.4rem;
    text-align: center;
    color: var(--primary-color);
  }

  .btn-show-more {
    width: 100%;
    font-size: 1.4rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  .custom-row-5-cols.footer__company-policy-and-info {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }

  .footer-bottom {
    background-color: var(--white-color);
  }

  .footer__terms-and-policy a,
  .footer__company-name,
  .footer__company-info-text {
    color: var(--txt-color);
  }

  /* Entry form */
  .logIn-container,
  .signUp-container,
  .seller-logIn-container {
    background-color: var(--white-color);
  }

  .form-area {
    height: 100vh;
  }

  .form-area__img,
  .form-area.form-area__background-img {
    padding-left: 0;
    padding-right: 0;
    background-image: none;
    justify-content: center;
  }

  .entry-form__header {
    justify-content: center;
  }

  .entry-form__icon {
    display: block;
  }

  .entry-form__switch-link,
  .entry-form__policy-service {
    font-size: 1.5rem;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    top: calc(var(--header-height) / 2);
  }
  to {
    opacity: 1;
    top: var(--header-height);
  }
}
